* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #003A69;
    padding: 10px;
    color: #fff;
}

header h1 img {
    width: 50px;
}

header .search img {
    width: 20px;
}

button {
    all: unset;
    cursor: pointer;
}

.return-back {
    font-size: 40px;
    font-weight: bold;
}

.search-sec {
    width: 100%;
    padding: 10px;
    background-color: #003A69;
    position: absolute;
    top: -100px;
    padding: 20px;

}

.search-sec input {
    all: unset;
    padding: 10px;
    width: 96%;
    color: #fff;
}

.search-sec button {
    font-size: 20px;
    font-weight: bold;
    color: #fff;

}

.application {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.application .app {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
} 

.application img {
    width: 100px;
    padding: 10px;
    border: #003A69 1px solid;
    border-radius: 10px;
    background-color: #f1f1f1;
}

.application h2 {
    display: inline-block;
    margin-top: 35px;
    margin-right: 10px;
}

.application a {
    padding: 10px 20px;
    background-color: #003A69;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.description p {
    width: 90%;
    margin: auto;
    word-spacing: 0.5px;
    font-family: 'cairo';
}

.show {
    top: 0;
    animation-duration: 0.2s;
    animation-name: showw;
}

@keyframes showw {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

.hide {
    top: -100px;
    animation-duration: 0.2s;
    animation-name: hidee;
}

@keyframes hidee {
    from {
        top: 0;
    }
    to {
        top: -100px;
    }
}

@media screen and (min-width: 1500px) {
    .container {
      max-width: 1200px;
      margin: auto;
    }
}