* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 99%;
    height: 100vh;
}

body img {
    width: 300px;
}